*{
    padding: 0;
    margin: 0;
}
.up{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: green;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    text-align: center;
}

.bg{
    background-image:  url("img/captdcd.jpg");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat    ;
    background-size:  cover;
}

.navbar{
    position: absolute;
    margin-bottom: 40px;
    margin-top: 15px;
    /* background-color: black; */
    padding: 10px;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border: 1px solid rgba(255, 255, 255, 0.28);
}
#main{
    margin-right:200px ;
    
    margin-left: 50px;
}
.linkk{
    background-color: green;
    text-align: center;
    padding: 10px 10px;
    border: 0px;
    border-radius: 16px;
}
a{
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
    color: azure;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
}
a.blog{
    position: relative;
}
.menu{
    display: none;
    position: absolute;
    width:150px ;
   
}

.blog:hover .menu{
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    position: absolute;
    top: 55px;
    left: 0px;
    background-color: white;
    color: black;
    display: block;
    

}




.s1{
    margin-left: 150px;
    margin-right: 150px;

    height:500px;
    

    
}
.caption{
    position: relative;
    margin-top: 200px;
    display: inline-block;
    margin-left: 100px;
    text-align: left;
    
    
    width: 40%;
    background: transparent;
   
}

.caption h1{
    
    display: inline;
    font-size: 62px;
    color: #fff;
    position: relative;
}

.caption hr{
    margin-top: 30px;
    margin-bottom: 30px;
    
    
    width: 150px;
}
.caption p{
    display: inline;
    font-size: 32px;
    color: #fff;
    
}
button.our{
    margin-top: 20px;
    border: 3px solid ;
    border: color white;
    text-align: center;
    padding: 10px 40px;
    
    color: aliceblue;
    
    background: transparent;
}
button.our:hover{
    margin-top: 20px;
    border: 3px solid ;
    background-color:rgb(11, 200, 20) ;
    border-color: rgb(11, 200, 20) ;
    text-align: center;
    padding: 10px 40px;
    
    color: white;
    
    
}

.form{
    position: relative;
    margin-top: 200px;
    display: inline-block;
    float: right;
    text-align: center;
    /* margin-left: 100px; */
    font-weight: 700;
    
    width: 40%;
    
    background-color: white;
}
.form h2{
    font-size: 36px;
    margin: 10px;
}
.form p{
    font-size: 20px;
}
.form hr{
    width: 100px;
    color: green;
    background-color: green;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 4px;
    margin-left: 160px;
}
.form .forml{
    text-align: left;
    padding-left: 30px;
}
.forml option{
    font-size: 16px;
}


.amount{
    width: 200px;
    height: 40px;
}
.formb{
    margin: 20px 0px;
    background-color: green;
    text-align: center;
    padding: 10px 10px;
    border: 0px;
    width: 355px;
    height: 40px;
    color: white;
}

/* section2  */

.bg-s2{
    background-color: #e4f1ed;
    height: 700px;
    width: 100%;
}
.s2h{
    padding-top:  70px;
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}
.s2p{
    text-align: center;
    font-size: 20px;
    
}
.bigbox{
    margin-top: 50px;
    margin-left: 90px;
}
.box{
    margin: 20px;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 20%;
    
}
.box h3{
    margin-top: 30px;
    font-size: 30px;
    padding-bottom: 25px;
}
.box p{
    font-size: 24px;
    padding-bottom: 20px;
}